DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Root424242
DB_NAME=biblioteca
PORT=3000

#configuracion de nodemailer

SMTP_HOST=smtp.example.com // Cambia esto por el host SMTP de tu proveedor de correo
sMTP_USER=tu-email@gmail.com // Cambia esto por tu email
SMTP_PASS=tu-password-de-aplicacion // Cambia esto por tu password de aplicación
