# Node modules
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache y builds
.cache/
dist/
build/
coverage/

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
